
.aside-main{
    margin: 10px; 
}
.aside{
    border-right: solid 1px black;
    display: inline-block;
    background-color: white;
    /* position: absolute; */
    padding: 10px;
    /* margin: 10px; */
    display: flex;
    flex-direction: column;
}
aside .aside{
    margin: 10px; 
}
.aside-link{
    margin-top: 6px;
}
.aside-btn{
    margin-bottom: 1rem;
}

.aside a{
    margin-bottom: 1rem;
    color: black;
    font-weight: bold;
}