form.email-filter {
display: inline-block;
}

.email-filter {
    display: inline-block;
    }


.email-filter h3{
    position: relative;
    left: 16rem;
    bottom: 1.2rem;
}

.email-filter select{
    position: relative;
    left: 22rem;
    bottom: 3.5rem;
}

.email-filter input{
    position: relative;
    left: 1rem;
    top: 1.5rem;
}