.email-details-div {
    background-color: rgb(245, 241, 241);
}

.back-btn-emaildetails a {
    text-decoration: none;
}

.email-det-title {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.email-det-from {
    margin-left: 10px;
}

.email-det-message {
    margin-left: 10px;
    margin: 10px;
    
}

.del-btn-emaildetails {
    margin-left: 10px;
    margin-right: 10px;
    padding: 3px;
}

.back-btn-emaildetails{
    padding: 3px;
}
