/* @media only screen and (min-width: 1000px) { */
.email-compose {
  background-color: #eaebed;
  padding: 10px;
  position: absolute;
  /* top: 40%; */
  /* left: 28%; */
  margin: 0 auto;
    bottom: 4%;
    right: 6%;
  height: 30vh;
  width: 48rem;
  border-bottom: 2px solid black;
  box-shadow: -4px -2px 17px 1px;
}

.to-input {
  position: absolute;
  left: 5rem;
}

.to-label {
  position: absolute;
  /* left: 5rem; */
}

.subject-label {
  position: absolute;
  top: 2rem;
  /* right: 12rem; */
}

.subject-input {
  position: absolute;
  top: 2rem;
  left: 5rem;
  /* right: 11.35rem; */
}

.message-input {
  position: absolute;
  top: 8rem;
  left: 5rem;
}

.send-btn {
  position: absolute;
  top: 13rem;
  /* right: 45.3rem; */
  left: 5rem;
  padding: 6px;
  color: whitesmoke;
  border-bottom: black 1px solid;
  background-color: #1d7874;
}

.back-compose-btn {
  display: inline;
  position: absolute;
  /* bottom: 4rem; */
  top: 1rem;

  left: 22rem;
  margin-top: 12rem;
  text-decoration: none;
  padding: 6px;
  border-bottom: black 1px solid;
  background-color: #1d7874;
}

.back-compose-btn a {
  text-decoration: none;
  color: whitesmoke;
  border-radius: 6px;
}
/* } */
/* @media only screen and (max-width: 600px) {
    .email-compose {
        position: absolute;
        margin-left: unset;
        top: 12rem;
        left: 5.7rem;
        height: 30vh;
        width: 16rem;
        z-index: 5;
    }
    .send-btn {
        position: relative;
        top: -5rem;
        right: -0.7rem;
        padding: 6px;
        color: black;
        border-bottom: black 1px solid;
    }
    .back-compose-btn {
        display: inline;
        position: relative;
        bottom: 5rem;
        left: 6.5rem;
        margin-top: 12rem;
        text-decoration: none;
        padding: 6px;
        color: black;
        border-bottom: black 1px solid;
    }
    .message-input {
        position: relative;
        top: 5rem;
        right: -0.8rem;
        width: 13rem;
    }
    .subject-input {
        position: relative;
        top: 2rem;
        right: -6.35rem;
        width: 8rem;
    }
    .subject-label {
        position: relative;
        top: 3.5rem;
        right: 9rem;
    }
    .to-input {
        position: relative;
        left: 5rem;
        width: 8rem;
    }
} */
