.email-sort {
    position: relative;
    left: 20rem;
}

.email-sort select {
    position: relative;
    left: 10rem;
    top: 1.4rem;
    margin-left: 1rem;
}

.email-sort-title {
    position: relative;
    left: 30rem;
    /* bottom: .3rem; */
    color: rgb(20, 20, 20);
}