.note-filter {
  left: 0px;
  position: relative;
  font-size: 1.2rem;
  border-radius: 5px;
  color: #575555;
  align-self: start;
  margin-bottom: 8px;
  border: 1px solid #898282;
  padding: 3px;
  box-shadow: 0px 1px 1px 0px #000;
}
